# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      # use `-browsers` prefix for selenium tests, e.g. `3.6.1-browsers`
      - image: circleci/python:3.6.1
      
      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/postgres:9.4

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "requirements.txt" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run:
          name: install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements.txt

      - save_cache:
          paths:
            - ./venv
          key: v1-dependencies-{{ checksum "requirements.txt" }}
        
      # run tests!
      - run:
          name: run tests
          command: |
            . venv/bin/activate
            python dip_hw2_dft.py > output/dft_output.txt
            python dip_hw2_filter.py -i Lenna0.jpg -m ideal_l -c 75
            python dip_hw2_filter.py -i Lenna.png -m ideal_h -c 125
            python dip_hw2_filter.py -i Lenna0.jpg -m butterworth_l -c 75 -o 2
            python dip_hw2_filter.py -i Lenna.png -m butterworth_h -c 125 -o 2
            python dip_hw2_filter.py -i Lenna0.jpg -m gaussian_l -c 75
            python dip_hw2_filter.py -i Lenna.png -m gaussian_h -c 125
            mkdir /home/circleci/repo/test-reports
            mv -f \output/ /home/circleci/repo/test-reports


      - store_artifacts:
          path: test-reports
          destination: test-reports
